


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Rubik"
      rel="stylesheet"
    />
    <title>LMS</title>
  </head>
  <body style="font-family: Rubik; width: 350px; margin: 0 auto">
    <div style="margin-top: 20px; width: 100%">
      <img
        src="https://res.cloudinary.com/djchnzc9g/image/upload/v1688748414/dashLogo_fez30l.png"
        alt=""
        style="width: 100px; height: 20px; margin-left: 35.714%"
      />
    </div>

    <div
      style="
        width: 350px;
        padding: 10px;
        box-shadow: 0px 4px 4px 0px rgba(187, 180, 180, 0.25);
        background-color: #fff;
        border-radius: 5px;
      "
    >
      <p
        style="
          text-align: center;
          color: #837e7e;
          font-size: 16px;
          font-weight: 500;
        "
      >
        Get off to a great start with <br />LMS
      </p>

      <p style="color: #837e7e; font-size: 14px">Hi <%= name %></p>
      <p
        style="
          margin-top: 20px;
          color: #837e7e;
          font-size: 12px;
          line-height: 19px;
        "
      >
        We are so glad you are here. LMS connects you in the design
        process so teams can deliver better products, faster. Here are few
        resources to help you get the most out of Valuefinders:
      </p>
      <p
        style="
          margin-top: 20px;
          color: #837e7e;
          font-size: 12px;
          line-height: 19px;
        "
      >
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam
        voluptates temporibus eos, officia alias, numquam accusamus quis sunt
        unde, dignissimos minus dicta ipsa. Quod aspernatur natus minima vero
      </p>

      <p
        style="
          margin-top: 20px;
          color: #837e7e;
          font-size: 12px;
          line-height: 19px;
        "
      >
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam
        voluptates temporibus eos, officia alias, numquam accusamus quis sunt
        unde, dignissimos minus dicta ipsa. Quod aspernatur natus minima vero
      </p>

      <button
        style="
          width: 140px;
          padding: 8px 5px;
          border-radius: 5px;
          border: 1px solid #9ccf32;
          background-color: #fff;
          color: #000;
          font-weight: 700;
          font-size: 12px;
          cursor: pointer;
          margin-left: 30%;
        "
      >
        Go to LMS
      </button>
    </div>
    <div style="max-width: 350px; margin-top: 10px">
      <p
        style="
          margin-top: 20px;
          color: #837e7e;
          font-size: 12px;
          line-height: 19px;
        "
      >
        If you need any help at all, get in touch with us at
        success@LMS.org. We will be more than happy to lend a hand!
      </p>
      <p
        style="
          margin-top: 20px;
          color: #837e7e;
          font-size: 12px;
          line-height: 19px;
        "
      >
        Until next time,
      </p>
      <p
        style="
          margin-top: 20px;
          color: #837e7e;
          font-size: 12px;
          line-height: 19px;
        "
      >
        Yours truly,
      </p>
      <p
        style="
          margin-top: 20px;
          color: #837e7e;
          font-size: 12px;
          line-height: 19px;
        "
      >
        LMS team
      </p>

      <div
        style="
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          column-gap: 20px;
          margin-bottom: 20px;
          
        "
      >
        <img
          src="https://res.cloudinary.com/djchnzc9g/image/upload/v1688748413/facebook_nxdwag.png"
          alt=""
          style="width: 16px; height: 16px"
        />
        <img
          src="https://res.cloudinary.com/djchnzc9g/image/upload/v1688748413/twitter_wcfgek.png"
          alt=""
          style="width: 18px; height: 15px"
        />
        <img
          src="https://res.cloudinary.com/djchnzc9g/image/upload/v1688748413/instagram_rq7ejp.png"
          alt=""
          style="width: 15px; height: 15px"
        />
      </div>
    </div>
  </body>
</html>




















